#soup {
  background: linear-gradient(to right, #FDBC86, #FFD2AC);
  width: 200px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 20px;
  border-radius: 50%;
}
#spoon {
  background:linear-gradient(to left, #BB8844, #CC9966);
  width: 20px;
  height: 105px;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  border-radius: 140px/50px;
  left: 30px;
  transform: rotate(7deg);
  animation: stir 4s infinite;
}

#pot {
  background: linear-gradient(to right, #CCC, #AAA);
  width: 200px;
  height: 175px;
  position: absolute;
  bottom: 120px;
  z-index: 1;
  border-radius: 140px/50px;
  right: 20vw;
}

#table {
  background-color: #ECD9C6;
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
}

@keyframes stir {
  0% {left: 30px;}
  50% {left: 130px;}
  100% {left: 30px;}
}
