.navbar, .navbar-default {
  background-color: #c1f0c1;
  padding: 1%;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #FDBC86;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
  border:none;
  background-color: #c1f0c1;
}

.navbar-default .navbar-toggle:hover{
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FDBC86;
}

.navbar-default .navbar-collapse {
  border-color: #FFFFFF;
}
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
#soup {
  background: linear-gradient(to right, #FDBC86, #FFD2AC);
  width: 200px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 20px;
  border-radius: 50%;
}
#spoon {
  background:linear-gradient(to left, #BB8844, #CC9966);
  width: 20px;
  height: 105px;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  border-radius: 140px/50px;
  left: 30px;
  transform: rotate(7deg);
  animation: stir 4s infinite;
}

#pot {
  background: linear-gradient(to right, #CCC, #AAA);
  width: 200px;
  height: 175px;
  position: absolute;
  bottom: 120px;
  z-index: 1;
  border-radius: 140px/50px;
  right: 20vw;
}

#table {
  background-color: #ECD9C6;
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
}

@keyframes stir {
  0% {left: 30px;}
  50% {left: 130px;}
  100% {left: 30px;}
}
