<!DOCTYPE html>
<html>
  <head>
    <meta name = "description" content = "Cook That" />
    <meta name = "author" content = "Ellen Liu">
    <meta name = "keywords" content="Ellen, Liu, CookThat">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name = "mobile-web-app-capable" content = "yes">
    <meta name="theme-color" content = "#1D2731">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="public/main.css">
    <link rel="stylesheet" href="public/header.css">
    <title>Cook That</title>
  </head>
  <body>
    <div id="app" />
  </body>
  <script src="public/main.js"></script>

</html>
